.Weather {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  padding: 30px;
  /* background-color: #cadefc; */
  font-family: "Poppins", sans-serif;
}
.Weather .WeatherInfo {
  padding: 30px 0;
}
.Weather header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.Weather .search-form-input {
  background-color: #cadefc;
  border: none;
  border-radius: 7px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.Weather .search-form-button {
  background-color: #c808ad;
  padding: 15px 30px;
  border: none;
  border-radius: 7px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}
.Weather .data {
  display: flex;
  justify-content: space-between;
}
.Weather .city {
  margin-bottom: 15px;
  font-size: 55px;
  line-height: 48px;
  font-family: "Shadows Into Light Two", cursive;
  color: #7b0699;
  font-weight: 600;
}
.Weather .details {
  font-size: 16px;
  color: #768590;
  line-height: 24px;
  font-weight: 500;
}
.Weather .date {
  font-size: 19px;
}
.Weather .details strong {
  color: #7b0699;
}
.Weather .temperature-container {
  display: flex;
}
.Weather canvas {
  width: 66px;
  height: 66px;
  margin-right: 10px;
}
.Weather .temperature {
  font-size: 88px;
  line-height: 88px;
  color: #7b0699;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 600;
  margin-right: 15px;
}
.Weather .unit {
  font-size: 28px;
  color: #7b0699;
  position: relative;
  top: -45px;
}
