.Weather {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}
.Weather .WeatherInfo {
  padding: 30px 0;
}
.Weather header {
  padding: 0 0 30px 0;
}
.Weather .search-form-input {
  background-color: #aee9f7;
  border: none;
  border-radius: 7px;
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
}
::placeholder {
  color: #9896f1;
  font-size: 16px;
  font-weight: 500;
}
.Weather .search-form-button {
  background-color: #9896f1;
  padding: 15px 30px;
  border: none;
  border-radius: 7px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
  width: 100%;
  font-weight: 500;
}
.Weather .data {
  display: flex;
  justify-content: space-between;
}
.Weather .city {
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 48px;
  font-family: "Shadows Into Light Two", cursive;
  color: #9896f1;
  font-weight: 600;
}
.Weather .details {
  font-size: 15px;
  color: #768590;
  line-height: 24px;
  font-weight: 500;
}
.Weather .date {
  font-size: 18px;
  font-weight: 600;
}
.Weather .details strong {
  color: #9896f1;
}
.Weather .temperature-container {
  display: flex;
}
.Weather canvas {
  width: 66px;
  height: 66px;
}
.Weather .temperature {
  font-size: 88px;
  line-height: 88px;
  color: #9896f1;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 600;
  margin: 0 15px;
}
.Weather .unit {
  font-size: 28px;
  color: #9896f1;
  position: relative;
  top: -45px;
}
@media (max-width: 900px) {
  .Weather {
    margin: 0 auto;
    padding: 10px;
  }
  .col-9 {
    padding: 10px 0 0 10px;
  }
  .col-3 {
    padding: 10px 15px 0 0;
  }
  .Weather .search-form-input {
    padding: 5px;
    font-size: 12px;
  }
  ::placeholder {
    padding: 5px;
    font-size: 12px;
  }
  .Weather .search-form-button {
    padding: 5px;
    font-size: 12px;
  }
  .Weather .city {
    font-size: 40px;
    text-align: center;
  }
  .Weather .temperature-container {
    justify-content: center;
  }
  .Weather .temperature {
    font-size: 60px;
  }
  .Weather .unit {
    font-size: 22px;
  }
  .Weather .data {
    display: block;
  }
  .Weather .details {
    text-align: center;
  }
  .Weather .WeatherInfo {
    padding: 5px;
  }
}
